<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyNextTrain WatchKit App (Complication).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MyNextTrain WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MyNextTrain WatchKit App.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyNextTrain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MyNextTrainCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MyNextTrainCoreTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B1F73871E0C0E6C0017EDB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B4437821E078F6B00DB4FB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B44378A1E078F6B00DB4FB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B4438271E07948C00DB4FB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B4438B81E08121A00DB4FB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B5C95EE1D6010CE00F66B8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B5C96001D6010CF00F66B8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
